/* Media Query */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
    padding: 0;
    margin: 0;
  }

  .hero-left {
    justify-content: center;
    margin: 0;
    padding-top: 0;
    padding-left: 3rem;
  }

  .hero-right img {
    width: 70%;
  }

  .hero-name {
    margin: 0.5rem 0 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
  }

  .hero p,
  .hero .pre-title {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--grey);
  }

  .gallery {
    padding: 2rem 1rem;
  }

  .gallery p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .portofolio {
   padding: 2rem 1rem;
  }

  .closing-title {
    padding: 0 2rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 100%;
    padding: 0;
    margin: 0;
  }

  .hero {
    grid-template-columns: 1fr;
    height: fit-content;
    width: 100%;
    height: 100vh;
    align-items: center;
  }

  .hero-left {
    justify-content: center;
    margin: 0;
    padding-top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
  }

  .hero-right {
    padding: 0;
    margin-top: 10%;
    order: -1;
  }

  .hero-name {
    margin: 0.5rem 0 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .hero p,
  .hero .pre-title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--grey);
  }

  .gallery {
    padding: 2rem 1rem;
  }

  .gallery-text {
    margin-top: 1rem;
    text-align: justify;
    padding: 0 25px 0;
  }

  .gallery p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .closing-title {
    padding: 0 2rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }
}

/* Mobile */
@media (max-width: 475px) {
  html {
    font-size: 90%;
  }

  .hero {
    grid-template-columns: 1fr;
    height: fit-content;
    width: 100%;
    height: 100vh;
    align-items: center;
  }

  .hero p,
  .hero .pre-title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: var(--grey);
  }

  .hero-left {
    justify-content: center;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-right {
    margin-top: 30%;
    order: -1;
  }

  .hero-right img {
    width: 70%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }

  .hero-name {
    margin: 0.5rem 0 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.6rem;
  }

  .gallery {
    padding: 2rem 1rem;
  }

  .gallery-text {
    margin-top: 1rem;
    text-align: justify;
    padding: 0 25px 0;
  }

  .gallery p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .portofolio {
   padding: 2rem 1rem;
  }

  .closing-title {
    padding: 0 2rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 70%;
  }

  .hero {
    grid-template-columns: 1fr;
    height: fit-content;
    width: 100%;
    height: 100vh;
    align-items: center;
  }

  .hero p,
  .hero .pre-title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: var(--grey);
  }

  .hero-left {
    justify-content: center;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-right {
    margin-top: 15%;
    order: -1;
  }

  .hero-right img {
    width: 70%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }

  .hero-name {
    margin: 0.5rem 0 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.6rem;
  }

  .gallery {
    padding: 2rem 1rem;
  }

  .gallery-text {
    margin-top: 1rem;
    text-align: justify;
    padding: 0 25px 0;
  }

  .gallery p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .closing-title {
    padding: 0 2rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }
}
